<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Changos app</title>
    {% load static %}
    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}/css/normalize.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/foundation.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/app.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}/js/foundation.min.js"></script>
</head>
<body>
	{% block content %} {% endblock %}
</body>
</html>